<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Webová anketa</title>
</head>
<body>
    <main>
        <H1>Webová anketa</H1>
    </main>
</body>
</html>